#boton {
    display: block;
    padding: 20px;
    background-color: green;
    color: white;
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: 5px solid rgb(6, 83, 6);
    transition: all 3s;
}

#boton:hover {
    border-radius: 15px;
    background-color: orangered;
    border: 5px solid red;
}

#caja {
    margin-top: 25px;
    width: 250px;
    height: 250px;
    background-color: lightseagreen;
    color: white;
    border: 5px solid black;
    font-size: 20px;
    text-align: center;
    line-height: 200px;
    animation-name: desplazamiento;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes desplazamiento {
    0%{
        margin-left: 0px;
        transform: rotate(0deg);
    }
    50%{
        margin-left: 1200px;
        transform: rotate(360deg);
        border-radius: 999px;
    }
    75%{
        background-color: red;
    }
    100%{
        margin-left: 0px;
        transform: rotate(0deg);
    }
}